*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: center;
    font-size: 45px;

    width: 400px;
    margin: 50px auto;
    border-radius: 20px;


}

button,
span {
    font-size: inherit;
    width: 100px;
    height: 100px;
    border: 1px solid black;

    background-color: #FF9B37;
    color: #eee;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    
    border: 1px solid black;
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #eee;
}

.display {
    grid-column: 1 / -1;
    text-align: right;
    padding: 2.4rem 0 0 2.4rem;
    height:100px;

    /* border: 1px solid black; */
    background-color: #222;
    color: #eee;
}

.ac {
    grid-column: 1 / 4;
    width: auto;
}
.divide {
    grid-column: 4 / 5;
}

.del {
    grid-column: 2 / 4;
    width: auto;
}


.ac,
.del {
    background-color: #777;
    color: #eee;
}